<!DOCTYPE html>
<html>
    <head>
        <title>Tribes 2 Stats</title>
        <style>
            :root {
                --font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            }
            body {
                background: #fff;
                color: #000;
                font-family: var(--font-family);
                padding: 8px;
            }
            main {
                display: flex;
                flex-direction: row;
            }
        </style>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <div id="application"></div>
        <script src="/bundle.js"></script>
    </body>
</html>